.StatisticContainer__top {
  display: flex;
  justify-content: space-evenly;
}
.top__search {
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  width: 250px;
  outline: none;
}
.StatisticContainer__content {
  display: flex;
  padding: 20px;
}
.StatisticContainer__chart {
  flex: 1 1 5rem;
}
.StatisticContainer__form {
  flex: 1 1 3rem;
}
