.btn_new {
  margin: 10px;
}

.YearViewContainer__top {
  display: flex;
  justify-content: space-between;
}
.top__search {
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  width: 250px;
  outline: none;
}

.YearViewContainer__bottom {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
