.StudentSubGroupId__container {
  margin: 100px;
}

.StudentSubGroupId__box {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.StudentSubGroupId__message {
  height: 30px;
}

.StudentSubGroupId__box > form {
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    720deg,
    transparent,
    rgba(82, 85, 85, 0.62),
    rgb(56, 59, 61)
  );
  border: 1px solid black;
  justify-content: center;
  flex-wrap: wrap;
}
.StudentSubGroupId_inputs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.StudentSubGroupId_inputs > label {
  width: 200px;
}

.StudentSubGroupId_buttons {
  display: flex;
}

.StudentSubGroupId_buttons button {
  color: white;
  background-image: linear-gradient(to right, #fc6076, #ff9231);
  border: none;
  margin: 20px;
  width: 120px;
  padding: 5px;
}

.StudentSubGroupId_buttons button:hover {
  background-image: linear-gradient(to right, #e72c45, #f59644);
}
