.NotAllocated__container {
  margin: 100px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.NotAllocated__box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NotAllocated__message {
  height: 30px;
}

.NotAllocated__box > form {
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-image: linear-gradient(
    720deg,
    transparent,
    rgba(82, 85, 85, 0.62),
    rgb(56, 59, 61)
  );
  justify-content: center;
  flex-wrap: wrap;
}
.NotAllocated_inputs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.NotAllocated_inputs > label {
  width: 300px;
}

.NotAllocated_buttons {
  display: flex;
  justify-content: flex-end;
}

.NotAllocated_buttons button {
  color: white;
  background-image: linear-gradient(to right, #fc6076, #ff9231);
  border: none;
  margin: 20px;
  width: 180px;
  padding: 5px;
}

.NotAllocated_buttons button:hover {
  background-image: linear-gradient(to right, #e72c45, #f59644);
}

.NotAllocated__loader {
  margin-left: 200px;
}

.NotAllocated__searchList {
  height: 80px;
}
