.ViewConsecutiveSession {
  width: 100%;
  object-fit: contain;
  padding: 15px;
  background-color: white;

  overflow-y: scroll;
  overflow-x: hidden;
}

.ViewConsecutiveSession::-webkit-scrollbar {
  display: none;
}
.ViewConsecutiveSession button {
  color: white;
  background-image: linear-gradient(to right, #fc6076, #ff9231);
  border: none;
  margin-bottom: 20px;
  width: 120px;
  padding: 5px;
  border-radius: 20px;
}
.ViewConsecutiveSession__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.ViewConsecutiveSession__buttons {
  display: flex;
  justify-content: center;
}
.ViewConsecutiveSession button:hover {
  background-image: linear-gradient(to right, #e72c45, #f59644);
}
