body {
  font-family: "Iceland";
  background-image: linear-gradient(
    120deg,
    transparent,
    rgba(230, 235, 230, 0.62),
    rgb(76, 79, 82)
  );

  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
