.ProgrammeContainer__table button {
  color: white;
  background-image: linear-gradient(to right, #fc6076, #ff9231);
  border: none;
  width: 80px;
  padding: 2px;
  cursor: pointer;
}

.ProgrammeContainer__table button:hover {
  background-image: linear-gradient(to right, #e72c45, #f59644);
}
